
.navbar .navbar-nav .nav-link:hover {
    background-color: #fff;
    color: #273746;
}
.navbar .navbar-nav .nav-link {
    padding: 0.6em;
    font-size: 1.2em;
    transition: all 0.5s;
}
.navbar .navbar-brand {
    padding: 0 0.6em;
    font-size: 1.5em;
    font-weight: bold;
}
@media only screen and (min-width: 992px) {
    .navbar {
        padding: 0;
    }
    .navbar .navbar-nav .nav-link {
        padding: 1em 0.7em;
    }
    .navbar .navbar-brand {
        padding: 0 0.8em;
    }
}
.wee{
    max-width: 1170px;
    margin:auto;
}
.hola{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footers{
    background-color: #273746;
    padding: 70px 0;
    clear: both;
}
.footers-coll{
    box-sizing: border-box;
    width: 25%;
    padding: 0 15px;
}
.footers-coll h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footers-coll h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #ffffff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footers-coll ul li:not(:last-child){
    margin-bottom: 10px;
}
.footers-coll ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}
.footers-coll ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footers-coll .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footers-coll .social-links a:hover{
    color: #6d6d6d;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footers-coll{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footers-coll{
        width: 100%;
    }
}

